.listOutput {
    margin: 0 auto;
    width: 80%;
}

.listOutput ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listOutput ul li {
    font-size: 1.25rem;
    border-bottom: 0.5px solid #eee;
    position: relative;
    height: 3rem;
    line-height: 3rem;
}

.listOutput span.icon {
    position: absolute;
    right: 0;
    color: #999;
}